<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container">
        <div class="row">
            <form class="type" #form="ngForm">
            <p>
                <label class="w3-text-blue">first name</label>
                <input  class="w3-input w3-border" [(ngModel)]="name" type="text" name="name"  placeholder="enter ur name">
            </p>
            <p>
                <label class="w3-text-blue">last name</label>
                <input  class="w3-input w3-border"type="text" [(ngModel)]="class" name="class"  placeholder="enter Your class">
            </p>
            <p>
                <input class="w3-btn w3-blue" type="button" name="submit" value="submit" (click)="saveData(form)">
            </p>
        </form>
        </div>
    </div>
